@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --blue:#23C4ED;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    scroll-behavior: smooth;

    &::selection{
        background: var(--blue);
        color: #222;
    }
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1.4rem;

        &-track{
            background: #222;
        }

        &-thumb{
            background: var(--blue);
        }
    }
}

body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    min-height: 100vh;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    & .user{
        &__img{
            height: 17rem;
            width: 17rem;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1rem;
            border: .7rem solid var(--blue);
        }

        &__name{
            font-size: 3.5rem;
            color: #fff;
        }

        &__post{
            font-size: 2rem;
            color: #eee;
        }
    }

    & .navbar{
        width: 100%;

        &__list{
            list-style-type: none;
            padding: 1rem 3rem;
        }

        &__link{
            display: block;
            padding: 1rem;
            margin: 1.5rem 0;
            background: #333;
            color: #fff;
            font-size: 2rem;
            border-radius: 5rem;

            &:hover{
                background: var(--blue);
            }
        }
    }
}

.menu{
    position: fixed;
    top: 2rem; right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 1000;
    padding: 1rem 1.5rem;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 15rem;
    min-height: 100vh;

    &__greeting{
        font-size: 2.5rem;
        color: #fff;
    }

    &__intro{
        font-size: 5rem;
        color: #fff;

        &--scnd{
            color: var(--blue);
        }
    }

    &__desc{
        font-size: 2rem;
        color: #eee;
        padding: 1rem 0;
    }
    
}

.btn{
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;

    &--icon{
        padding: 0 .5rem;
        font-size: 1.8rem;
    }

    &:hover{
        background: var(--blue);
    }
}

.about, .education, .projects, .contact{
    & h1{
        text-align: center;
        font-size: 4rem;
        color: #fff;
        margin: 0 6rem;
        padding: 1rem;
        border-bottom: .1rem solid #fff4;      
    
        & span{
            color: var(--blue);
        }
    }

    
}

.about{
    & &__row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        & .skill{
            flex: 1 1 48rem;
            // width: 100%;
            // // text-align: left;
            // display: flex;
            // justify-content: center;
            // // flex-wrap: wrap;

            &__bars{
                margin-bottom: 1.5rem;
                // margin-right: 2.5rem;
                padding: 0 3rem;
                padding-left: 3.2rem;
            }

            &__info{
                display: flex;
                justify-content: space-between;
                align-items: center;

                & span{
                    font-weight: 500;
                    font-size: 1.8rem;
                    color: #fff;
                }
            }

            & .line{
                height: .5rem;
                width: 100%;
                background: #eee;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: var(--blue);
                }
            }
            
            & .html::before{
                width: 90%;
            }
            & .css::before{
                width: 70%;
            }
            & .javascript::before{
                width: 80%;
            }
            & .sass::before{
                width: 50%;
            }
            & .reactjs::before{
                width: 30%;
            }
            & .wordpress::before{
                width: 60%;
            }
            & .python::before{
                width: 60%;
            }
            
        }

    //     & .counter{
    //         flex: 1 1 48rem;
    //         display: flex;
    //         justify-content: center;
    //         flex-wrap: wrap;

    //         & .box{
    //             width: 20rem;
    //             background: #222;
    //             text-align: center;
    //             padding: 2rem;
    //             margin: 2rem;

    //             & span{
    //                 font-size: 4rem;
    //                 color: var(--blue);
    //             }

    //             & h3{
    //                 font-size: 2rem;
    //                 color: #fff;
    //             }
    //         }

        // }
    }

    & &__row &__info{
        flex: 1 1 48rem;
        padding: 2rem 1rem;
        padding-left: 3.2rem;

        & h3{
            font-size: 2rem;
            color: var(--blue);
            padding: 1rem 0;
            font-weight: normal;

            & span{
                color: #eee;
                padding: 0 .5rem;
            }
        }
    }

}

.education{
    & .box-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 0;
        padding-left: 3rem;

        & .box{
            width: 27rem;
            margin: 4rem 1rem;
            padding-left: 4rem;
            border-left: .2rem solid #fff;
            position: relative;

            & span{
                font-size: 1.3rem;
                background: #222;
                color: #fff;
                border-radius: 5rem;
                padding: .5rem 2.5rem;
            }

            & h4{
                font-size: 2rem;
                color: #fff;
                padding-top: 1.5rem;
            }

            & p{
                font-size: 1.4rem;
                color: #eee;
                padding: 1rem 0;
            }

            & i{
                position: absolute;
                top: -1.5rem; left: -2.5rem;
                height: 5rem;
                width: 5rem;
                border-radius: 50%;
                line-height: 5rem;
                text-align: center;
                font-size: 2rem;
                color: #fff;
                background: var(--blue);
            }
        }
    }
}

.projects .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

    & .box{
        height: 20rem;
        width: 26rem;
        border-radius: 1rem;
        margin: 2rem;
        overflow: hidden;
        cursor: pointer;

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:hover img{
            transform: scale(1.3);
        }
    }
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & .content{
        flex: 1 1 30rem;
        padding: 4rem;
        padding-bottom: 0;

        & .title{
            text-transform: uppercase;
            color: #fff;
            font-size: 3rem;
            padding-bottom: 2rem;
        }

        & .info h3{
            display: flex;
            align-items: center;
            font-size: 2rem;
            color: #eee;
            padding: 1rem 0;
            font-weight: normal;

            &:first-child{
                text-transform: lowercase;
            }

            & i{
                padding-right: 1rem;
                color: var(--blue);
            }
        }
    }

    & form{
        flex: 1 1 45rem;
        padding: 2rem;
        margin: 2rem;
        margin-bottom: 4rem;

        & .box{
            padding: 1.5rem;
            margin: 1rem 0;
            background: #333;
            color: #fff;
            text-transform: none;
            font-size: 1.7rem;
            width: 100%;

            &::placeholder{
                text-transform: capitalize;
            }
        }

        & .message{
            height: 15rem;
            resize: none;
        }
    }
}






















// media query 

@media screen and (max-width:1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }
}

@media screen and (max-width:991px){
    .header{
        left: -120%;

        &.toggle{
            left:0%;
        }
    }
    
    .menu{
        display: block;
    }

    body{
        padding: 0;
    }
}

@media screen and (max-width:768px){
    html{
        font-size: 50%;
    }
}

@media screen and (max-width:400px){
    .header{
        width: 100vw;
    }

    .about__heading{
        margin: 0 3rem;
    }

    // .about{
    //     & &__row{

    //         & .skill{
    //             &__bars{
    //                 margin: 0;
    //             }
    //         }
    //     //     & .counter .box{
    //     //         width: 100%;
    //     //     }
    //     }
    // }

    .education .box-container .box{
        width: 100%;
    }

    .projects .box-container .box{
        width: 100%;
    }

    .contact .row form{
        margin: 3rem 0;
    }
}

